site_name: IBU cluster wiki

nav:
    - Home: index.md
    - Documentation:
      - Storage: documentation/storage.md
      - Resources:
        - Software modules: documentation/resources/software_modules.md
        - Servers: documentation/resources/servers.md
        - Reference genomes: documentation/resources/reference_genomes.md
        - Share files: documentation/resources/share_files.md
      - SLURM usage:
        - Submit jobs: documentation/SLURM_usage/submit_jobs.md
        - Status monitoring: documentation/SLURM_usage/status_monitoring.md
        - Allocation options: documentation/SLURM_usage/allocation_options.md
        - Special variables: documentation/SLURM_usage/slurm_variables.md
      - Projects:
        - Initiation: documentation/projects/project_initiation.md
        - Rights: documentation/projects/rights.md
    - HOWTOs:
      - Mount cluster as network drive: HOWTOs/mount_cluster.md
      - Work on gitlab: HOWTOs/gitlab.md
    - Tutorials:
      - SSH Tutorial: HPC_tutorial/SSH_tutorial.md
      - SLURM tutorial: HPC_tutorial/SLURM_tutorial.md

# Configuration
theme:
  name: material
  favicon: assets/images/dna-svgrepo-com.svg
  icon:
    logo: fontawesome/solid/dna
  features:
    - navigation.tabs

# Repository
repo_name: gvangeest/cluster_wiki
repo_url: https://gitlab.bioinformatics.unibe.ch/gvangeest/cluster_wiki/
edit_uri: ""

# See https://python-markdown.github.io/extensions/ and
# See https://github.com/Python-Markdown/markdown/wiki/Third-Party-Extensions#Bundles
#     https://facelessuser.github.io/pymdown-extensions/
markdown_extensions:
  - abbr
  - def_list
  - footnotes
  - tables
  - admonition
  - codehilite:
      guess_lang: false
  - sane_lists
  - smarty
  - toc
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
