site_name: IBU cluster docs
site_dir: public

nav:
    - Home: index.md
    - Tutorials:
      - SSH Tutorial: tutorials/SSH_tutorial.md
      - SLURM tutorial: tutorials/SLURM_tutorial.md
      - Mount cluster as network drive: tutorials/mount_cluster.md
      - Download from Amazon S3: tutorials/download_s3.md
      - Work on gitlab: tutorials/gitlab.md
    - Documentation:
      - Storage: documentation/storage.md
      - Resources:
        - Software modules: documentation/resources/software_modules.md
        - Rstudio server: documentation/resources/rstudio_server.md
        - Reference genomes: documentation/resources/reference_genomes.md
        - Share files: documentation/resources/share_files.md
      - SLURM usage:
        - General: documentation/SLURM_usage/slurm_general.md
        - Submit jobs: documentation/SLURM_usage/submit_jobs.md
        - Partitions: documentation/SLURM_usage/partitions.md
        - Status monitoring: documentation/SLURM_usage/status_monitoring.md
        - Allocation options: documentation/SLURM_usage/allocation_options.md
        - Special variables: documentation/SLURM_usage/slurm_variables.md
      
    - Coding Best Practices:
      - Coding Best Practices: coding_best_practices/best_practices.md

# Configuration
theme:
  name: material
  favicon: assets/images/dna-svgrepo-com.svg
  icon:
    logo: fontawesome/solid/dna
  features:
    - navigation.tabs

# Repository
repo_name: docs/cluster-docs
repo_url: https://gitlab.bioinformatics.unibe.ch/docs/cluster-docs
edit_uri: "edit/master/docs/"

markdown_extensions:
  - abbr
  - def_list
  - footnotes
  - tables
  - admonition
  - codehilite:
      guess_lang: false
  - sane_lists
  - smarty
  - toc
  - pymdownx.superfences
  - attr_list
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
