site_name: IBU cluster docs
site_dir: public

nav:
    - Home: index.md
    - Tutorials:
      - Getting started: tutorials/getting_started.md
      - Introduction to containers:
        - Introduction to containers: tutorials/containers/introduction_containers.md
        - Managing docker: tutorials/containers/managing_docker.md
        - Dockerfiles: tutorials/containers/dockerfiles.md
        - Apptainer: tutorials/containers/apptainer.md
      - SSH Tutorial: tutorials/SSH_tutorial.md
      - SLURM tutorial: tutorials/SLURM_tutorial.md
      - Git & Gitlab: 
        - Set up: tutorials/gitlab/gitlab.md
        - CI & automatic image builds: tutorials/gitlab/gitlab_ci.md
        - Git cheatsheet: tutorials/gitlab/git_cheatsheet.md
      - Short tutorials:
        - Mount cluster as network drive: tutorials/short/mount_cluster.md
        - Download from Amazon S3: tutorials/short/download_s3.md
        - Conda env in a container: tutorials/short/conda_env_container.md
        - Port forwarding for apptainer: tutorials/short/port_forwarding_apptainer.md
      
    - Documentation:
      - Storage: documentation/storage.md
      - Resources:
        - Software modules: documentation/resources/software_modules.md
        - Rstudio server: documentation/resources/rstudio_server.md
        - Reference genomes: documentation/resources/reference_genomes.md
        - Shared datasets: documentation/resources/shared_datasets.md
        - Cloud services: documentation/resources/cloud_services.md
      - SLURM usage:
        - General: documentation/SLURM_usage/slurm_general.md
        - Submit jobs: documentation/SLURM_usage/submit_jobs.md
        - Partitions: documentation/SLURM_usage/partitions.md
        - Status monitoring: documentation/SLURM_usage/status_monitoring.md
        - Allocation options: documentation/SLURM_usage/allocation_options.md
        - Special variables: documentation/SLURM_usage/slurm_variables.md
      - Singularity: documentation/singularity.md
      
    - Coding Best Practices:
      - Coding Best Practices: coding_best_practices/best_practices.md

    - Checklists:
      - Prepare a course checklist: checklists/checklist_courses_cluster.md

# Configuration
theme:
  name: material
  favicon: assets/images/dna-svgrepo-com.svg
  icon:
    logo: fontawesome/solid/dna
  features:
    - navigation.tabs

# Repository
repo_name: docs/cluster-docs
repo_url: https://gitlab.bioinformatics.unibe.ch/docs/cluster-docs
edit_uri: "edit/master/docs/"

markdown_extensions:
  - abbr
  - def_list
  - footnotes
  - tables
  - admonition
  - codehilite:
      guess_lang: false
  - sane_lists
  - smarty
  - toc
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - attr_list
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
